.random-paragraph{
    padding: 10px;
    color: rgb(78, 123, 195);
    border: 1px dotted crimson
}
.random-paragraph-second-class{
    padding: 10px;
    color: rgb(187, 209, 187);
    border: 1px solid green;
    border-radius: 15px;
    background-color: crimson;
}
li{
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px auto;
    background-color: rgb(68, 180, 184);
    border: 5px solid rgb(27, 113, 163);
}
button{
    background-color: 'crimson';
    font-size: '50px';
    margin-top: '30px';
    margin-right: '30px';
}
.nesto{
    display: flex;
    background-color: green;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: space-evenly;
}